h1 {
  text-align: center;
}

h3  {
  text-align: center;
}

#new-food {
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
}

#edit-food {
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
}
